<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>1 * * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>if sudo docker ps | grep neuralnetwork
then
echo &quot;Everything is OK environment running properly
else
sudo docker run -itd -v /root/MLOps/Python:/home --name neuralnetwork tensorflowimage
fi

if sudo docker ps | grep sklearn
then
echo &quot;Everything is OK environment running properly
else
sudo docker run -itd -v /root/MLOps/Python:/home --name sklearn tensorflowimage
fi</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>